#callour
    background-color: #f1f8f9
    .textbox
        h1
            font-size: 65px
            font-weight: 700
            color: #36b3bd
        h5
            font-size: 20px
            margin: 25px 75px 50px 0
            line-height: 1.3
            color: #676f8b
        .btn
            color: #ffff
            background-color: #38b6c1
            padding: 13px 34px
            font-size: 20px
    .imgbox
        width: 520px

    @media screen and ( max-width: 1200px )
        .textbox
            margin-bottom: 30px
            h1
                font-size: 40px
        .imgbox
            width: 400px

    @media screen and ( max-width: 570px )
        .textbox
            margin-left: 30px
    @media screen and ( max-width: 430px )
        .textbox
            h1
                font-size: 30px
        .imgbox
            width: 250px
