#support
    .textbox
        h1
            font-size: 60px
            font-weight: 700
            color: #ffff
            margin: 0 70px 0 40px
            line-height: 1.1
        span
            color: #24667283
        .btn
            color: #38b6c1
            background-color: #ffff
            padding: 10px 30px
            font-size: 22px
            margin: 30px 0 0 40px
    .bgc
        background-color: #35b6c1

    @media screen and ( max-width: 1000px )
        .textbox
            h1
                font-size: 40px

    @media screen and ( max-width: 770px )
        .imgbox
            margin-bottom: 10px
        .textbox
            h1
                font-size: 60px
                margin: 10px 70px 0 40px
            .btn
                margin: 70px 0 30px 40px

    @media screen and ( max-width: 460px )
        .textbox
            h1
                font-size: 40px
            .btn
                margin: 40px 0 30px 40px
                padding: 5px 10px
                font-size: 18px
